{% extends 'AppCoder/base.html' %}



{% block contenidoQueCambia %}
<br><br>
<h1>Torneo Futbol 8</h1>

<br><br>
<form action="" method="post">
    {% csrf_token %}

    <p>Nombre del Jugador

        <input type="text" name="nombre">

    </p>
<br>
    <p>
        Apellido del Jugador
        <input type="text" name="apellido" >

    </p>
<br>
    <p>
        Posición del Jugador 

        <input type="text" name="posicion">
    </p>
<br>
    <input type="submit" value="Registrar jugador">

</form>


{% endblock %}